/build
/thirdparty
android/base/CMakeFiles/
android/base/cmake_install.cmake
android/.idea/
android/.gradle/
android/vkcs1/.cxx/
android/vkcs1/build/
android/local.properties
android/gradlew.bat
android/gradlew
android/gradle/
android/vkcs1/assets/
android/vkcs1/build/
android/vkcs1/.externalNativeBuild/
android/vkcs1/.cxx/
android/.idea/
android/.gradle/
