/build
/thirdparty/
code/aoce_agora/
android/base/CMakeFiles/
android/base/cmake_install.cmake
android/.idea/
android/.gradle/
android/*/.cxx/
android/*/build/
android/local.properties
android/gradlew.bat
android/gradlew
android/gradle/
android/*/assets/
android/*/build/
android/*/.externalNativeBuild/
android/*/.cxx/
android/*/libs/
android/.idea/
android/.gradle/
android/android.zip
